<div id="cards-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <a href="#" target="cards-export" class="pull-right small text-muted mR"><span class="fa fa-cloud-download"></span> Export</a>
                <h4 class="modal-title"><span class="fa fa-list"></span> My cards <small id="cards-dictionary"></small></h4>
            </div>
            <div class="modal-body">
                <table id="cards-table" class="table table-hover">
                </table>
            </div>
        </div>
    </div>
</div>
