@media (max-width: 700px) {
  h1 img {
    margin-right: 16px;
    height: 86px;
    width: 86px; } }
@media (min-width: 700px) {
  h1 {
    font-size: 64px; }
    h1 small {
      font-size: 0.6em; }
    h1 img {
      margin-right: 32px; } }
.row {
  margin-top: 36px;
  margin-bottom: 36px; }

p {
  font-size: 1.2em; }
  p.text-center img {
    max-width: 100%; }

video {
  width: 100%;
  max-width: 600px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px 5px 10px rgba(0, 0, 0, 0.2), 5px -5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

footer.row {
  margin-top: 64px;
  margin-bottom: 64px; }

/*# sourceMappingURL=main.css.map */
