=shadow4($prop, $offset, $blur, $color)
  #{$prop}-shadow: $offset $offset $blur $color, (-$offset) $offset $blur $color, $offset (-$offset) $blur $color, (-$offset) (-$offset) $blur $color

=border-radius($size)
  -webkit-border-radius: $size
  -moz-border-radius: $size
  border-radius: $size

@media (max-width: 700px)
  h1
    img
      margin-right: 16px
      height: 86px
      width: 86px
@media (min-width: 700px)
  h1
    font-size: 64px
    small
      font-size: 0.6em
    img
      margin-right: 32px

.row
  margin-top: 36px
  margin-bottom: 36px

p
  font-size: 1.2em
  &.text-center img
    max-width: 100%

video
  width: 100%
  max-width: 600px
  +shadow4('box', 5px, 10px, rgba(0,0,0,0.2))
  +border-radius(10px)

footer.row
  margin-top: 64px
  margin-bottom: 64px
