<div id="about-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="fa fa-question-circle"></span> About</h4>
            </div>
            <div class="modal-body">
                <h1><img src="../gfx/logo.png" class="pull-left">Vocabus<br/><small>Dictionary at your fingertips!</small></h1>
                <hr/>
                <p class="text-justify">Whatever you're doing on your computer, this dictionary is always just two hotkeys away! In a browser, document, pdf reader, everywhere!</p>
                <p class="text-justify">Just <strong>select</strong> a word you want to look up, press <code>Ctrl+C</code> to put in a Clipboard, and then <code>Ctrl+Shift+C</code> to trigger Vocabus. It's quick and comfortable, isn't it?</p>
                <p class="text-justify">Use <code>Ctrl+Shift+X</code> to just invoke Vocabus, without pasting anything to the search box.</p>
                <p class="text-justify">Use <code>Esc</code> to hide Vocabus.</p>
                <p class="text-justify">You can switch between your favourite dictionaries with <code>Up</code> and <code>Down</code> keys.</p>
                <p class="text-justify">Every translation can also be saved on your personal list of words to repeat &ndash; just click on <span class="fa fa-plus-circle text-info"></span></p>
                <hr/>
                <div class="btn-group btn-group-justified">
                    <a href="#" target="config-export" class="btn btn-primary">
                        <span class="fa fa-upload"></span>
                        Export configuration
                    </a>
                    <a href="#" target="config-import" class="btn btn-primary">
                        <span class="fa fa-download"></span>
                        Import configuration
                    </a>
                </div>
                <hr/>
                <ul>
                    <li>
                        <span class="fa fa-user fa-fw"></span>
                        Author:
                        <a href="https://avris.it" target="external">
                            Andrzej Prusinowski (Avris.it)
                        </a>
                    </li>
                    <li>
                        <span class="fa fa-file-text fa-fw"></span>
                        License:
                        <a href="https://opensource.org/licenses/MIT" target="external">
                            MIT
                        </a>
                    </li>
                    <li>
                        <span class="fa fa-globe fa-fw"></span>
                        Website:
                        <a href="https://vocabus.avris.it" target="external">
                            vocabus.avris.it
                        </a>
                    </li>
                    <li>
                        <span class="fa fa-gears fa-fw"></span>
                        Engine:
                        <a href="http://electron.atom.io/" target="external">
                            Electron
                        </a>
                    </li>
                    <li>
                        <img src="../gfx/pons.png" class="fa-fw"/>
                        Dictionary API:
                        <a href="https://pons.com/" target="external">
                            PONS
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
