body::before {
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../gfx/bg.jpg");
  content: "";
  will-change: transform;
  z-index: -1;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }

#bar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 0;
  margin: 0;
  padding: 16px 0;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid rgba(0, 0, 255, 0.5);
  display: inline-table;
  z-index: 1000; }
  #bar nav {
    margin-bottom: 10px;
    font-size: 0.9em; }
    #bar nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex; }
      #bar nav ul li {
        position: relative;
        float: left;
        vertical-align: middle;
        padding: 3px 8px; }
        #bar nav ul li h1 {
          font-size: 1.2em;
          font-weight: bold;
          margin: 0;
          -webkit-user-select: none;
          -webkit-app-region: drag;
          cursor: move;
          line-height: 19.2857px; }
          #bar nav ul li h1 img {
            height: 19.2857px;
            vertical-align: middle; }
        #bar nav ul li a {
          text-decoration: none; }
        #bar nav ul li img {
          position: relative;
          top: -2px; }

#output {
  margin: 136px 24px 24px 24px;
  opacity: 0.95; }
  #output table.table {
    background: #fff;
    padding: 8px; }

img.lang {
  border: 1px solid rgba(255, 255, 255, 0.5); }

.modal-dialog {
  z-index: 1050; }

.mT {
  margin-top: 24px; }

.mR {
  margin-right: 12px; }

#about-modal h1 {
  margin: 0; }
  #about-modal h1 img {
    margin-right: 10px;
    margin-bottom: 10px;
    height: 2.2em;
    width: 2.2em; }

tr.rom th {
  font-size: 1.1em;
  background-color: #eee; }

tr.arab th {
  font-size: 0.9em;
  background-color: #eee; }

tr.translation td {
  font-size: 0.9em;
  width: 48%; }
  tr.translation td:last-child {
    width: 4%; }

.info {
  color: #333 !important; }

.flexion, .wordclass, .genus {
  font-style: italic; }

/*# sourceMappingURL=main.css.map */
