<div id="dictionaries-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="fa fa-gears"></span> Configure dictionaries</h4>
            </div>
            <div class="modal-body">
                <table id="dictionaries-table" class="table table-hover">
                </table>
                <div id="dictionaries-add"></div>
            </div>
        </div>
    </div>
</div>
